div {
    height:500px;
    padding:10px;
    border:1px solid black;
}

button{
    background-color: purple;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    margin:0 auto;
}